<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Snapbean.DevDay2024.BlazorFullStackServerMode.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>

@* 
    The magic file :-) 
     - fetch calls
     - stream rendering
     
     Initially disabled for demo-purpose, per default it is enabled.
*@
@* <script src="_framework/blazor.web.js"></script> *@

</body>

</html>